<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <!-- <p> <%= user._id %> </p> 
     
      <div>
        <p> <%= user.membership ? user.membership: 'no membership' %> </p> 
      </div>
       -->
      <br>
      <a href = '/createpost'> Create your own post </a>
      <br>
      <a href = '/membership'> Sign up for membership </a>
      <br>
    <% } else { %>
      <p>NOT LOGGED IN</p> 
    <% } %>

  
    

    <!-- How to iterate through the Posts obj
      <% posts.forEach(function(post) { %> 
        <p><%= post.title %> </p> 
        <p><%= post.text %> </p> 
      <% }); %> -->





      <div>
        <% if (user && posts ) { %> 
          <% if (user.membership == true) { %>
            <% posts.forEach(function(post) { %> 
              <p><%= post.title %> </p> 
              <p><%= post.text %> </p>
              <p><%= post.timestamp %> </p>
            <% }); %>
          <%} else { %> 
            <% posts.forEach(function(post) { %> 
              
              <p><%= post.text %> </p> 
            <% }); %> 
      
          <% } %>  
        <% } else { %>
          <p> <%= posts.text ? posts.text: 'no post text or user' %> </p> 
        <% } %> 
      </div>
  



  </body>
</html>

<a href = "/signup"> Sign up</a>
<br>
<a href = "/login"> Login </a> 
<br>
<a href = "/logout"> Logout </a>