<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (user) {%>
      <h1>WELCOME BACK <%= user.username %></h1>
      <p> <%= user._id %> </p> 
      <p> <%= user.membership %> </p>
      
      <br>
      <a href = '/createpost'> Create your own post </a>
      <br>
      <a href = '/membership'> Sign up for membership </a>
      <br>
    <% } else { %>
      <p>NOT LOGGED IN</p> 
    <% } %>

    
    <div>
      <% for (var post of posts) { %> 
        <li> <%= post.title %> </li>
        <% } %>


    </div>
  </body>
</html>

<a href = "/signup"> Sign up</a>
<br>
<a href = "/login"> Login </a> 
<br>
<a href = "/logout"> Logout </a>